@import "../../global/variables";
.home{
  .actual_project{
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    h2{
      order: -2;
    }
    &__item{
      display: flex;
      flex-direction: column;
      gap: 0.6em;
      h3{
        font-family: "Roboto Medium", serif;
        font-size: 0.9em;
        color: $purple;
      }
      p{
        font-size: 0.8em;
        line-height: 1.2em;
      }
      .cta{
        max-width: 30%;
        padding: 10px;
        &__btn{
          font-size: 0.8em;
        }
      }
    }
    img{
      max-width: 100%;
      order: -1;
    }
  }
}