@import "../../global/variables";
.home{
  .temoignages{
    background: linear-gradient(90deg, #FFFFFF, #DADCF3, #FFFFFF);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
}
@media (min-width: 1100px) {
  .home{
    .temoignages{
      h2{
        font-size: 2em;
      }
    }
  }
}